body{text-align:center;}#loading-message{font-size:1.2rem;margin:20px 0}#timer{font-size:2rem;font-weight:700;margin:20px 0}#links-content{display:none;margin-top:30px;background:#fff;color:#000;padding:15px;border-radius:10px;width:90%;max-width:500px;margin:20px auto;text-align:center;box-shadow:0 4px 8px rgb(0 0 0 / .1);transition:all 0.3s ease-in-out}#links-content:hover{transform:translateY(-5px);box-shadow:0 8px 16px rgb(0 0 0 / .2)}#links-content ul{list-style-type:none;padding:0}#links-content li{margin:15px 0}#links-content a{display:inline-block;background-color:#3498db;color:#fff;text-decoration:none;font-size:1.1rem;font-weight:700;padding:10px 20px;border-radius:5px;transition:background-color 0.3s,transform 0.3s ease}#links-content a:hover{background-color:#e74c3c;transform:scale(1.1)}#start-button{background-color:#0d035c;margin-bottom:20px;color:#fff;border:none;padding:15px 30px;font-size:1.2rem;border-radius:5px;cursor:pointer;transition:background 0.3s ease}#dynamic-message{display:block;font-size:18px;font-weight:700;text-align:center;margin-bottom:20px;color:#333}#start-button:hover{background-color:#c0392b}.call-to-action{font-size:1.2rem;margin:10px 0;color:#333}.subscribe-link{display:inline-block;margin:10px 0;text-decoration:none;color:#0073e6}#playlist-container div{margin:15px 0}#floating-share {
  position: fixed;
  top: 35%;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease-in-out;
}
#floating-share a {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  padding: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: block;
}
#floating-share a:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
}
#floating-share img {
  display: block;
  width: 30px;
  height: 30px;
}
#toggle-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
#toggle-arrow:hover {
  color: #0073e6;
}
#arrow-icon {
  font-size: 18px;
  margin-right: 5px;
}
#floating-share.collapsed a {
  display: none;
}
#floating-share.collapsed #toggle-arrow {
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  #floating-share {
    top: 40%;
    left: 5px;
  }
  #toggle-arrow {
    font-size: 14px;
  }
  #floating-share.collapsed {
    top: 50%;
  }
}
#buymeacoffee-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: block;
}
#buymeacoffee {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.3);
  border-radius: 10px;
  text-align: left;
  width: 250px;
  position: relative;
}
#buymeacoffee-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
#buymeacoffee a {
  display: block;
  border-radius: 50px;
}
#buymeacoffee button {
  background-color: #fff0;
  border: none;
  font-size: 20px;
  color: #333;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#buymeacoffee button:hover {
  color: #ff5e00;
}
#buymeacoffee:hover {
  transform: scale(1.05);
}
#buymeacoffee p {
  margin: 0;
  font-weight: 700;
}
#buymeacoffee-container.hidden {
  display: none;
}
