.app-container {
      font-family: Arial, sans-serif;
      margin: 20px;
            text-align: center;
    }

.app-links {
      list-style-type: none;
      padding: 0; 
    }
   .app-links img {
      margin-right: 10px;
    }
    .app-links a {
      text-decoration: none;
align-items: center;
    }
.app-links li {
   
  display: flex; /* وضع المحتوى في خط واحد */
      }
