  body {
            font-family: Arial, sans-serif;
            text-align: center;
            background: linear-gradient(to right, #3498db, #2ecc71);
            color: #fff;
            margin: 0;
            padding: 0;
        }

        h1 {
            margin-top: 50px;
            font-size: 2.5rem;
        }

        #loading-message {
            font-size: 1.2rem;
            margin: 20px 0;
        }

        #timer {
            font-size: 2rem;
            font-weight: bold;
            margin: 20px 0;
        }

        #links-content {
            display: none;
            margin-top: 30px;
            background: #fff;
            color: #000;
            padding: 20px;
            border-radius: 10px;
            width: 90%;
            max-width: 500px;
            margin: 30px auto;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
        }

        #links-content:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        #links-content ul {
            list-style-type: none;
            padding: 0;
        }

        #links-content li {
            margin: 15px 0;
        }

        #links-content a {
            display: inline-block;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s ease;
        }

        #links-content a:hover {
            background-color: #e74c3c;
            transform: scale(1.1);
        }

        #start-button {
            background-color: #e74c3c;
            color: #fff;
            border: none;
            padding: 15px 30px;
            font-size: 1.2rem;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        #start-button:hover {
            background-color: #c0392b;
        }
            .call-to-action {
            font-size: 1.2rem;
            margin: 10px 0;
            color: #333;
        }
        .subscribe-link {
            display: inline-block;
            margin: 10px 0;
            text-decoration: none;
            color: #0073e6;
        }
        #playlist-container div {
            margin: 15px 0;
        }