.app-container {
      font-family: Arial, sans-serif;
      margin: 20px;
        text-align: center;  
      display: flex;

      
    }

    .app-container-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
                  text-align: center;

    }

    .app-links {
      list-style-type: none;
      padding: 0;
    }

    .app-links li {
      display: none;
      margin: 10px 0;
      display: flex;
      align-items: center;
    }

    .app-links a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .app-links img {
      margin-right: 10px;
    }

    .load-more-btn {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .load-more-btn:hover {
      background-color: #45a049;
    }

    .load-more-btn:active {
      transform: scale(0.98);
    }

    .load-more-btn:focus {
      outline: none;
    }
